footer {
    background-image: url(footer.png);
    background-size: cover;
    box-shadow: 0px 0px 2vw rgb(167, 167, 167);
}

#footer {
    margin-left: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: left;
    font-size: 1.2vw;
}

#footer2 {
    margin-top: 11.5vw;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    float: right;
    font-size: 1vw;
}