.icon {
    margin-bottom: 12vw;
    width: 8vw;
    z-index: 99;
    border-radius: 20px;
    
}

#icon-text {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 1.5vw;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 100%;
    transition: 200ms;
}
